<html>
  <head>
    <title>CRUD - Create/Update</title>
  </head>
  <body>
    <h2>Cadastro de usuário</h2>
  {% load crispy_forms_tags %}
  {% block content %}
    <form action="" method="POST" style="display: inline;">
    {% csrf_token %}
    {{ form|crispy }}
    <p>*Campo obrigatório</p>
    <input type="submit" value="Enviar">
    <input type="submit" value="Cancelar" onclick="window.location.href='{% url 'usuarios:lista' %}';return false;">
    </form>
  {% endblock %}
  </body>
</html>